.main-nav {
  max-width: get-vw(980px);
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--nav-font);
  background-color: var(--logo-bg-color);
  color: var(--logo-color);
  font-size: rem(40px); 
}

.logo {
  background-color: var(--logo-bg-color);
  span {
    color: var(--logo-dot-color);
    font-size: rem(40px);
  }
}

  .burger-menu {
    height: 40%;
    width: 5vw;
    padding: 20px;
    display: none; 
  }

.right-menu {
  background-color: #1e1e1e; 
  display: flex;
  text-align: center;
  height: 100%;
  a {
    // box-sizing: content-box;
    letter-spacing: 0.1em;
    font-family: var(--page-nav-font);
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem(16px);
    transition: color 0.5s;
    width: rem(130px);
    height: 100%;
  }
  li {    
    text-align: center;
    width: rem(130px);
    height: 100%;
    // max-height: rem(124px);
    border-bottom: rem(6px) solid #1e1e1e;
    // // line-height: get-vw(130px);
    margin-right: rem(1px);
    margin-left: rem(1px); 
    background-color: var(--logo-bg-color);   
    }
    
  li:hover {
    color: var(--logo-dot-color);
    border-bottom: rem(6px) solid rgb(88, 202, 56);    
  }
}
   

