/*----------  eurofurence Font  ----------*/

@font-face {
  font-family: 'eurofurence';
  src: url('../assets/fonts/eurofurence/eurof55.ttf');
  font-weight: 50;
}

/*----------  lato bold Font  ----------*/

@font-face {
  font-family: 'latobold';
  src: url('../assets/fonts/lato/Lato-Bold.ttf');
  font-weight: 50;
}

/*----------  lato Font  ----------*/

@font-face {
  font-family: 'lato';
  src: url('../assets/fonts/lato/Lato-Regular.ttf');
  font-weight: 50;
}