// $container-width: 890px;
// $mobile-breakpoint: 642px;

:root {
  /* Layout */
  // --container-width: $container-width;
  // --inner-container-width: 900px;
  /* Fonts */
  --nav-font: eurofurence;
  --primary-font: lato;
  --secondary-font: Ubuntu;
  --page-nav-font: lato;
  --page-nav-bold-font: latobold;
  /* Colors */
  --main-color: #626262;
  --font-main-color: #626262;
  --sections-bg: #f0f0f0;
  --logo-color: white;
  --logo-bg-color: #292929;
  --logo-dot-color: #58c93a;
  --footer-bg-color: #f8f8f8;
  --buttons-text-color: #c2c2c2;
  --buttons-border: 2px solid #c2c2c2;
  --buttons-highlight-border: 2px solid 
}


